# registry=https://jfrog.commercialdev.dev.veedna.com/artifactory/gos-all-npm/
registry=https://veednainc.jfrog.io/artifactory/gos-all-npm/
//veednainc.jfrog.io/artifactory/gos-all-npm/:_auth=${NPM_AUTH_TOKEN}
