registry=https://observe.fortknox.commercialdev.dev.veedna.com/artifactory/api/npm/gos-all-proxy-npm/
//observe.fortknox.commercialdev.dev.veedna.com/artifactory/api/npm/gos-all-proxy-npm/:_auth=${NPM_AUTH_TOKEN}