registry=https://enforce.fortknox.commercialstaging.dev.veedna.com/artifactory/api/npm/gos-all-proxy-npm/
//enforce.fortknox.commercialstaging.dev.veedna.com/artifactory/api/npm/gos-all-proxy-npm/:_auth=${NPM_AUTH_TOKEN}